<div id="dashboard-main-content">
    <div class="header-wrapper">
        <div class="header-content">
            <div class="title">
                <span>Venus IAM</span>
            </div>

            <div class="user">
                <div class="icon-with-span">
                    <span>Bruno da Silveira B. Godoy</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <div class="menu-item" routerLink="/dashboard/users">
                    <div class="icon-with-span">
                        <mat-icon>person</mat-icon>
                        <span>Users</span>
                    </div>
                </div>

                <div class="menu-item" routerLink="/dashboard/roles">
                    <div class="icon-with-span">
                        <mat-icon>security</mat-icon>
                        <span>Roles</span>
                    </div>
                </div>

                <div class="menu-item" routerLink="/dashboard/groups">
                    <div class="icon-with-span">
                        <mat-icon>groups</mat-icon>
                        <span>Groups</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>