<div id="role-main-content">
    <mat-card class="venus-card">
        <mat-card-header>
            <mat-card-title>Role list</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <table mat-table [dataSource]="roleList" [width]="'100%'" *ngIf="roleList">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="creationDate">
                        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Actions </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <mat-icon class="action-icon blue">edit</mat-icon>
                            <mat-icon class="action-icon red">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ngx-shimmer-loading width="100%" height="20em" *ngIf="!roleList"></ngx-shimmer-loading>

                <div class="button">
                    <button mat-raised-button (click)="openDialog()">
                        <mat-icon>add</mat-icon>
                        Add role
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>