<div id="home-main-content">
    <div class="count-chart">
        <div class="content-wrapper">
            <mat-grid-list cols="4" rowHeight="120px" gutterSize="70px">
                <mat-grid-tile>
                    <div class="square-chart">
                        <div class="panel-left">
                            <mat-icon>person</mat-icon>
                        </div>
                        <div class="panel-right">
                            <h3 *ngIf="numOfUsers">{{numOfUsers}}</h3>
                            <h3 *ngIf="!numOfUsers">
                                <ngx-shimmer-loading width="70px" height="30px" class="blue-shimmer">
                                </ngx-shimmer-loading>
                            </h3>
                            <strong>Users</strong>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="square-chart">
                        <div class="panel-left">
                            <mat-icon>security</mat-icon>
                        </div>
                        <div class="panel-right">
                            <h3 *ngIf="numOfRoles">{{numOfRoles}}</h3>
                            <h3 *ngIf="!numOfRoles">
                                <ngx-shimmer-loading width="70px" height="30px" class="blue-shimmer">
                                </ngx-shimmer-loading>
                            </h3>
                            <strong>Roles</strong>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="square-chart">
                        <div class="panel-left">
                            <mat-icon>groups</mat-icon>
                        </div>
                        <div class="panel-right">
                            <h3 *ngIf="numOfGroups">{{numOfGroups}}</h3>
                            <h3 *ngIf="!numOfGroups">
                                <ngx-shimmer-loading width="70px" height="30px" class="blue-shimmer">
                                </ngx-shimmer-loading>
                            </h3>
                            <strong>Groups</strong>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="square-chart">
                        <div class="panel-left">
                            <mat-icon>login</mat-icon>
                        </div>
                        <div class="panel-right">
                            <h3 *ngIf="numOfLoginLastHour">{{numOfLoginLastHour}}</h3>
                            <h3 *ngIf="!numOfLoginLastHour">
                                <ngx-shimmer-loading width="70px" height="30px" class="blue-shimmer">
                                </ngx-shimmer-loading>
                            </h3>
                            <strong>No. of Logins in Last Hour </strong>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div class="linear-chart-content">
        <mat-card class="venus-card">
            <mat-card-header>
                <mat-card-title>Logins Per Weekday</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="chart">
                    <ngx-charts-bar-vertical *ngIf="chartData" [scheme]="colorScheme" [results]="chartData"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel">
                    </ngx-charts-bar-vertical>
                    <ngx-shimmer-loading width="100%" height="100%" *ngIf="!chartData"></ngx-shimmer-loading>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>