/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #444e5d;
    --secondary-color: #4e5764;
    --third-color: #4eaa60;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.icon-with-span {
    span {
        position: relative;
        top: -5px;
        margin-left: 5px;
    }
}

.span-align-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}